@model Assessment6.Models.Student

<h2>Edit Student</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Course"></label>
        <input asp-for="Course" />
        <span asp-validation-for="Course" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Marks"></label>
        <input asp-for="Marks" />
        <span asp-validation-for="Marks" class="text-danger"></span>
    </div>

    <button type="submit">Update</button>

</form>
